*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
header>nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F86624;
    color: white;
}
.nav-left{
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
}
.nav-right>ul{
    position: relative;

}
.nav-right ul li{
    list-style: none;
    display: inline;
    padding: 20px;
    font-size: 18px;
}
.dark-theme{
    border-radius: 10px;
    font-size: 18px;
    padding: 8px;
    border: none;
    background-color: transparent;
    color: white;
}

.dark-theme:hover{
    background-color: rgb(77, 151, 196);
}
.login{
    color: white; 
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    font-size: 18px;

}
.loginContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    
    
}
.login-model{
    position: relative;
    top: 100px;
    width: 30%;
    height: 100%;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    display: none;

}
.login-model h3{
    font-size: 20px;
}
.closebtn{
    position: relative;
    top: -40px;
    right: -49%;
    color: red;
    font-size: 15px;
    border: none;
    background-color: transparent;
}
.login-model input{
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;

}
#loginSubmit{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #1768AC;
    border: none;
}
.title{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dash-left{
    width: 20%;
    background-color: blue;
    color: hsl(0, 20%, 93%);
    display: flex;
    align-items: center;
    justify-items: center;
    text-align:left;
    font-size: 18px;
    height: 500px;
} 

.dash-left ul li{
    padding: 15px;
    list-style: none;
    
}
.title-right{
    width: 80%;
    position: relative;
    top: -50px;
}
.title-right>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.title1{
    margin: 10px;
    padding: 15px;
    height: 110px;
    background-color: rgba(220, 220, 220, 0.945);
    border-radius: 10px;
    
}
.title1>h2{
    padding-bottom: 10px;
    font-size: 20px;
}
.title1>p{
    color: gray;
    font-size: 15px;
}

#add-border{
    border: none;
    padding: 10px;
    background-color: transparent;
    font-size: 17px;
    color: white;
}
    
/* form */

#nameText, #userText{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    outline: none;
    font-size: 15px;
}
.formBtn{
    padding: 10px;
    border: none;
    width: 100px;
    font-size: 15px;
    color: white;
    background-color: green;
    border-radius: 5px;
}
.main-container{
    position: relative;
    top: -100px;
    right: -30%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 150px;
}
.main-container1{
    position: relative;
    top: 180px;
    right: -30%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 150px;
}

form{
    background-color: #f86624;
    width: 100%;
    padding: 10px;
}
.User{
    width: 100%;
    background-color: rgb(197, 194, 194);
    padding: 10px;
}
.User h2{
    font-size: 20px;
    padding-bottom: 10px;
}
#myColors{
    position: relative;
    top: -60px;
    width: 200px;
    font-size: large;
    margin-left: 410px;
}
#box1{
    width: 200px;
    height: 100px;
    border: 1px solid gray;
    margin-left: 610px;
    margin-top: -60px;
    margin-bottom: 30px;
}
#box2{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    margin-left: 810px;
    margin-top: -160px;
    font-size: large;
    text-align: center;

}
.keyInput{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: fit-content;
    width: 20%;
    position: relative;
    bottom: -250px;
    right: -600px;
    margin-bottom: 20%;
    flex-direction: column;
}

.keyInput input{
    padding: 3px;
    outline: none;
    margin: 10px;
}

